Repository COS301-SE-2022/Pure-LoRa-Tracking, pull requests merged in 2022-08, with the labels that each got.

#365 Jwt
  master/.env
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.controller.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.ts
  master/libs/client/manage-view/src/lib/gateway-edit-view/src/lib/gateway-edit/gateway-edit.component.ts
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.ts
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/docker/docker-compose.yml
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.spec.ts
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.ts
  master/package.json
Labels: (ci/cd) enhancement, (system) API, (system) Front-End, (system) Server, (external) thingsboard, (role) api engineer, (role) backend engineer

#366 ✅ (tests): update user api tests
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
Labels: (system) API, (role) tester

#367 ✅ (tests): user api complete
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
Labels: (system) API, (role) tester

#375 Tests update
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.spec.ts
Labels: (system) API, (external) thingsboard, (external) chirpstack

#378 Moretests
  master/libs/client/manage-view/src/lib/profile-edit/.eslintrc.json
  master/libs/client/manage-view/src/lib/profile-edit/src/lib/profiles-edit/profiles-edit.component.spec.ts
  master/libs/client/users-management-view/.eslintrc.json
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.spec.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
  master/libs/shared-interfaces/.eslintrc.json
  master/libs/shared-interfaces/src/index.ts
  master/libs/shared-interfaces/src/lib/testing-interfaces.ts
Labels: (system) Front-End, (role) tester

#379 🎇 Processing frame and some tests
  master/angular.json
  master/apps/services/ai-processing/.eslintrc.json
  master/apps/services/ai-processing/jest.config.ts
  master/apps/services/ai-processing/project.json
  master/apps/services/ai-processing/src/app/.gitkeep
  master/apps/services/ai-processing/src/app/app.controller.spec.ts
  master/apps/services/ai-processing/src/app/app.controller.ts
  master/apps/services/ai-processing/src/app/app.module.ts
  master/apps/services/ai-processing/src/app/app.service.spec.ts
  master/apps/services/ai-processing/src/app/app.service.ts
  master/apps/services/ai-processing/src/assets/.gitkeep
  master/apps/services/ai-processing/src/environments/environment.prod.ts
  master/apps/services/ai-processing/src/environments/environment.ts
  master/apps/services/ai-processing/src/main.ts
  master/apps/services/ai-processing/tsconfig.app.json
  master/apps/services/ai-processing/tsconfig.json
  master/apps/services/ai-processing/tsconfig.spec.json
  master/apps/services/cp-message-queue/.eslintrc.json
  master/apps/services/cp-message-queue/jest.config.ts
  master/apps/services/cp-message-queue/project.json
  master/apps/services/cp-message-queue/src/app/.gitkeep
  master/apps/services/cp-message-queue/src/app/app.controller.spec.ts
  master/apps/services/cp-message-queue/src/app/app.controller.ts
  master/apps/services/cp-message-queue/src/app/app.module.ts
  master/apps/services/cp-message-queue/src/app/app.service.spec.ts
  master/apps/services/cp-message-queue/src/app/app.service.ts
  master/apps/services/cp-message-queue/src/assets/.gitkeep
  master/apps/services/cp-message-queue/src/environments/environment.prod.ts
  master/apps/services/cp-message-queue/src/environments/environment.ts
  master/apps/services/cp-message-queue/src/main.ts
  master/apps/services/cp-message-queue/tsconfig.app.json
  master/apps/services/cp-message-queue/tsconfig.json
  master/apps/services/cp-message-queue/tsconfig.spec.json
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.spec.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.ts
  master/libs/docker/docker-compose.yml
Labels: (system) API, (system) Server, (role) tester

#382 ✅ (tests): more reserve tests
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.spec.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.ts
Labels: (system) API, (role) tester

#383 ✨ (ai): rssi conversion and lat diff in meters
  master/angular.json
  master/libs/ai/ai-triangulation/.eslintrc.json
  master/libs/ai/ai-triangulation/README.md
  master/libs/ai/ai-triangulation/jest.config.ts
  master/libs/ai/ai-triangulation/package.json
  master/libs/ai/ai-triangulation/project.json
  master/libs/ai/ai-triangulation/src/index.ts
  master/libs/ai/ai-triangulation/src/lib/ai-ai-triangulation.module.ts
  master/libs/ai/ai-triangulation/src/lib/ai-ai-triangulation.service.spec.ts
  master/libs/ai/ai-triangulation/src/lib/ai-ai-triangulation.service.ts
  master/libs/ai/ai-triangulation/tsconfig.json
  master/libs/ai/ai-triangulation/tsconfig.lib.json
  master/libs/ai/ai-triangulation/tsconfig.spec.json
  master/libs/ai/mock-generator/triangulation/.eslintrc.json
  master/libs/ai/mock-generator/triangulation/README.md
  master/libs/ai/mock-generator/triangulation/jest.config.ts
  master/libs/ai/mock-generator/triangulation/package.json
  master/libs/ai/mock-generator/triangulation/project.json
  master/libs/ai/mock-generator/triangulation/src/index.ts
  master/libs/ai/mock-generator/triangulation/src/lib/ai-mock-generator-triangulation.module.ts
  master/libs/ai/mock-generator/triangulation/src/lib/ai-mock-generator-triangulation.service.spec.ts
  master/libs/ai/mock-generator/triangulation/src/lib/ai-mock-generator-triangulation.service.ts
  master/libs/ai/mock-generator/triangulation/tsconfig.json
  master/libs/ai/mock-generator/triangulation/tsconfig.lib.json
  master/libs/ai/mock-generator/triangulation/tsconfig.spec.json
  master/libs/location/src/lib/location.service.spec.ts
  master/libs/location/src/lib/location.service.ts
  master/tsconfig.base.json
Labels: (system) AI

#384 ✅ (tests): update tests
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.spec.ts
Labels: (system) API, (role) tester

#385 ✅ (tests): map api tests
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
Labels: (system) API, (role) tester
