Repository COS301-SE-2022/Pure-LoRa-Tracking, pull requests merged in 2022-06, with the labels that each got.

#116 sparkles (thingsboard): filter telem by device and time
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer, tester

#120 sparkles (thingsboard): reserve-asset management
  master/angular.json
  master/libs/thingsboard/thingsboard-asset/.eslintrc.json
  master/libs/thingsboard/thingsboard-asset/README.md
  master/libs/thingsboard/thingsboard-asset/jest.config.ts
  master/libs/thingsboard/thingsboard-asset/package.json
  master/libs/thingsboard/thingsboard-asset/project.json
  master/libs/thingsboard/thingsboard-asset/src/index.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.module.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.spec.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.ts
  master/libs/thingsboard/thingsboard-asset/tsconfig.json
  master/libs/thingsboard/thingsboard-asset/tsconfig.lib.json
  master/libs/thingsboard/thingsboard-asset/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/tsconfig.base.json
Labels: API, Server, thingsboard, api engineer, backend engineer

#121 ✨ (thingsboard): get reserve perimeter
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.module.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.module.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer

#112 Added docker compose to github actions
  .github/workflows/tests.yml
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/docker/configs/dev_db/chirpstack_as
  master/libs/docker/configs/dev_db/thingsboard
  master/libs/docker/configs/postgreSQL/chirpstack.sh
  master/libs/docker/configs/postgreSQL/thingsboard.sh
  master/libs/docker/docker-compose.yml
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/package.json
Labels: enhancement, CI/CD, docker

#123 sparkles (thingsboard/API): link historical 15cf86c
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer, map

#124 Added more historical data
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/leaflet-library/src/lib/reserve-map/archive.txt
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
Labels: Front-End, map

#127 Added the ant paths
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/leaflet-library/tsconfig.json
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/package.json
Labels: Front-End, map

#133 Chirpstack gRPC integration
  .github/workflows/tests.yml
  master/angular.json
  master/libs/chirpstack/.eslintrc.json
  master/libs/chirpstack/README.md
  master/libs/chirpstack/chirpstack-gateway/.eslintrc.json
  master/libs/chirpstack/chirpstack-gateway/README.md
  master/libs/chirpstack/chirpstack-gateway/jest.config.ts
  master/libs/chirpstack/chirpstack-gateway/package.json
  master/libs/chirpstack/chirpstack-gateway/project.json
  master/libs/chirpstack/chirpstack-gateway/src/index.ts
  master/libs/chirpstack/chirpstack-gateway/src/lib/chirpstack-chirpstack-gateway.module.ts
  master/libs/chirpstack/chirpstack-gateway/src/lib/chirpstack-chirpstack-gateway.service.spec.ts
  master/libs/chirpstack/chirpstack-gateway/src/lib/chirpstack-chirpstack-gateway.service.ts
  master/libs/chirpstack/chirpstack-gateway/tsconfig.json
  master/libs/chirpstack/chirpstack-gateway/tsconfig.lib.json
  master/libs/chirpstack/chirpstack-gateway/tsconfig.spec.json
  master/libs/chirpstack/chirpstack-sensor/.eslintrc.json
  master/libs/chirpstack/chirpstack-sensor/README.md
  master/libs/chirpstack/chirpstack-sensor/jest.config.ts
  master/libs/chirpstack/chirpstack-sensor/package.json
  master/libs/chirpstack/chirpstack-sensor/project.json
  master/libs/chirpstack/chirpstack-sensor/src/index.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.module.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.spec.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.ts
  master/libs/chirpstack/chirpstack-sensor/tsconfig.json
  master/libs/chirpstack/chirpstack-sensor/tsconfig.lib.json
  master/libs/chirpstack/chirpstack-sensor/tsconfig.spec.json
  master/libs/chirpstack/jest.config.ts
  master/libs/chirpstack/package.json
  master/libs/chirpstack/project.json
  master/libs/chirpstack/src/index.ts
  master/libs/chirpstack/src/lib/chirpstack.module.ts
  master/libs/chirpstack/src/lib/chirpstack.service.spec.ts
  master/libs/chirpstack/src/lib/chirpstack.service.ts
  master/libs/chirpstack/tsconfig.json
  master/libs/chirpstack/tsconfig.lib.json
  master/libs/chirpstack/tsconfig.spec.json
  master/package.json
  master/tsconfig.base.json
Labels: architecture, chirpstack

#134 ✅ (tests): thingsboard asset
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
Labels: tester

#139 Testing
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
Labels: thingsboard, tester

#141 🎨 (cleanup): remove unnecessary directories
  master/libs/api-interfaces/.babelrc
  master/libs/api-interfaces/.eslintrc.json
  master/libs/api-interfaces/README.md
  master/libs/api-interfaces/project.json
  master/libs/api-interfaces/src/index.ts
  master/libs/api-interfaces/src/lib/api-interfaces.ts
  master/libs/api-interfaces/tsconfig.json
  master/libs/api-interfaces/tsconfig.lib.json
  master/libs/server/stub.txt
Labels: Server, backend engineer

#147 ✨ (thingsboard): telemetry for any json object
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: API, thingsboard, api engineer

#148 sparkles (thingsboard):Device management
  master/angular.json
  master/libs/api/api-router/src/lib/api-api-router.module.ts
  master/libs/api/device-endpoint/.eslintrc.json
  master/libs/api/device-endpoint/README.md
  master/libs/api/device-endpoint/jest.config.ts
  master/libs/api/device-endpoint/package.json
  master/libs/api/device-endpoint/project.json
  master/libs/api/device-endpoint/src/index.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.spec.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.module.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.spec.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/device-endpoint/tsconfig.json
  master/libs/api/device-endpoint/tsconfig.lib.json
  master/libs/api/device-endpoint/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: API, Server, thingsboard, api engineer, backend engineer

#149 sparkles (Interfaces): api for device managment
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.spec.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.module.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.spec.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/shared-interfaces/src/device-endpoint.interface.ts
  master/libs/shared-interfaces/src/index.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer

#158 sparkles (thingsboard): user provision framework
  master/angular.json
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/.eslintrc.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/README.md
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/jest.config.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/package.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/project.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/index.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/lib/thingsboard-thingsboard-user-thingsboard-user-provision.module.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/lib/thingsboard-thingsboard-user-thingsboard-user-provision.service.spec.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/lib/thingsboard-thingsboard-user-thingsboard-user-provision.service.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/tsconfig.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/tsconfig.lib.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/tsconfig.spec.json
  master/tsconfig.base.json
Labels: API, Server, thingsboard, api engineer, backend engineer

#161 sparkles (thingsboard): client user functions
  master/angular.json
  master/libs/api/api-router/src/lib/api-api-router.module.ts
  master/libs/api/user-endpoint/.eslintrc.json
  master/libs/api/user-endpoint/README.md
  master/libs/api/user-endpoint/jest.config.ts
  master/libs/api/user-endpoint/package.json
  master/libs/api/user-endpoint/project.json
  master/libs/api/user-endpoint/src/index.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.module.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/api/user-endpoint/tsconfig.json
  master/libs/api/user-endpoint/tsconfig.lib.json
  master/libs/api/user-endpoint/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: API, Server, api engineer, backend engineer

#162 sparkles (api): User provision
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.module.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: API, Server, api engineer, backend engineer

#164 ✅ added more tests
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
Labels: Front-End, tester, map

#169 UI header
  master/angular.json
  master/apps/lora-tracking/src/assets/Logos/navlogo.svg
  master/apps/lora-tracking/src/assets/MapIcons/navlogo.svg
  master/libs/client/shared-ui/components-ui/.browserslistrc
  master/libs/client/shared-ui/components-ui/.eslintrc.json
  master/libs/client/shared-ui/components-ui/README.md
  master/libs/client/shared-ui/components-ui/jest.config.ts
  master/libs/client/shared-ui/components-ui/ng-package.json
  master/libs/client/shared-ui/components-ui/package.json
  master/libs/client/shared-ui/components-ui/project.json
  master/libs/client/shared-ui/components-ui/src/index.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.scss
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.ts
  master/libs/client/shared-ui/components-ui/src/test-setup.ts
  master/libs/client/shared-ui/components-ui/tsconfig.json
  master/libs/client/shared-ui/components-ui/tsconfig.lib.json
  master/libs/client/shared-ui/components-ui/tsconfig.lib.prod.json
  master/libs/client/shared-ui/components-ui/tsconfig.spec.json
  master/tsconfig.base.json
Labels: Front-End, ui engineer

#170 Historical data
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
Labels: ui engineer, map

#177 ✨ (thingsboard): telemetry v1 update
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer

#179 ⚡️ (thingsboard): device name with historical
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: API, Server, thingsboard, api engineer

#180 Historical data
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
Labels: Front-End, map

#175 UI reserve view
  master/angular.json
  master/apps/lora-tracking/project.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/apps/lora-tracking/src/assets/Logos/logo.svg
  master/apps/lora-tracking/src/index.html
  master/apps/lora-tracking/src/styles.scss
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/reserve-view/.browserslistrc
  master/libs/client/reserve-view/.eslintrc.json
  master/libs/client/reserve-view/README.md
  master/libs/client/reserve-view/jest.config.ts
  master/libs/client/reserve-view/ng-package.json
  master/libs/client/reserve-view/package.json
  master/libs/client/reserve-view/project.json
  master/libs/client/reserve-view/src/index.ts
  master/libs/client/reserve-view/src/lib/client-reserve-view.module.spec.ts
  master/libs/client/reserve-view/src/lib/client-reserve-view.module.ts
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.html
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.scss
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.spec.ts
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view-routing.module.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.scss
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/reserve-view/src/test-setup.ts
  master/libs/client/reserve-view/tsconfig.json
  master/libs/client/reserve-view/tsconfig.lib.json
  master/libs/client/reserve-view/tsconfig.lib.prod.json
  master/libs/client/reserve-view/tsconfig.spec.json
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.scss
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.ts
  master/libs/client/shared-ui/material-ui/src/lib/client-shared-ui-material-ui.module.ts
  master/tsconfig.base.json
Labels: Front-End, ui engineer, Important

#176 Device add UI
  master/angular.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/libs/client/device-add-view/.browserslistrc
  master/libs/client/device-add-view/.eslintrc.json
  master/libs/client/device-add-view/README.md
  master/libs/client/device-add-view/jest.config.ts
  master/libs/client/device-add-view/ng-package.json
  master/libs/client/device-add-view/package.json
  master/libs/client/device-add-view/project.json
  master/libs/client/device-add-view/src/index.ts
  master/libs/client/device-add-view/src/lib/client-device-add-view.module.spec.ts
  master/libs/client/device-add-view/src/lib/client-device-add-view.module.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add-routing.module.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.html
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.scss
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.spec.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/device-add-view/src/test-setup.ts
  master/libs/client/device-add-view/tsconfig.json
  master/libs/client/device-add-view/tsconfig.lib.json
  master/libs/client/device-add-view/tsconfig.lib.prod.json
  master/libs/client/device-add-view/tsconfig.spec.json
  master/libs/client/shared-ui/material-ui/src/lib/client-shared-ui-material-ui.module.ts
  master/tsconfig.base.json
Labels: Front-End, ui engineer, Important

#184 sparkles (thingsboard): access token with device create
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: API, Server, thingsboard, hardware, api engineer

#186 sparkles (thingsboard): access token methods
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: API, thingsboard, api engineer

#190 Login
  master/angular.json
  master/libs/api/api-router/src/lib/api-api-router.module.ts
  master/libs/api/login-endpoint/.eslintrc.json
  master/libs/api/login-endpoint/README.md
  master/libs/api/login-endpoint/jest.config.ts
  master/libs/api/login-endpoint/package.json
  master/libs/api/login-endpoint/project.json
  master/libs/api/login-endpoint/src/api-login.interface.ts
  master/libs/api/login-endpoint/src/index.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.spec.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.module.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.spec.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
  master/libs/api/login-endpoint/tsconfig.json
  master/libs/api/login-endpoint/tsconfig.lib.json
  master/libs/api/login-endpoint/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: API, api engineer

#188 🔀 Basic location
  master/.env
  master/angular.json
  master/apps/api/src/main.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.controller.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.controller.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.module.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.spec.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.ts
  master/libs/location/.eslintrc.json
  master/libs/location/README.md
  master/libs/location/jest.config.ts
  master/libs/location/package.json
  master/libs/location/project.json
  master/libs/location/src/index.ts
  master/libs/location/src/lib/location.module.ts
  master/libs/location/src/lib/location.service.spec.ts
  master/libs/location/src/lib/location.service.ts
  master/libs/location/tsconfig.json
  master/libs/location/tsconfig.lib.json
  master/libs/location/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/tsconfig.base.json
Labels: API, chirpstack, hardware, Important

#193 Device adding
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/client/device-add-view/src/lib/client-device-add-view.module.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.html
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.spec.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/shared-interfaces/src/index.ts
  master/libs/shared-interfaces/src/lib/input-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: Front-End, ui engineer

#195 :art: (UI): Map Positioning
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.scss
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.scss
Labels: Front-End, ui engineer, Important

#197 User management
  master/angular.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/client/shared-ui/components-ui/src/index.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/dialog-confirmation/dialog-confirmation.component.html
  master/libs/client/shared-ui/components-ui/src/lib/dialog-confirmation/dialog-confirmation.component.scss
  master/libs/client/shared-ui/components-ui/src/lib/dialog-confirmation/dialog-confirmation.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/dialog-confirmation/dialog-confirmation.component.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/users-management-view/.browserslistrc
  master/libs/client/users-management-view/.eslintrc.json
  master/libs/client/users-management-view/README.md
  master/libs/client/users-management-view/jest.config.ts
  master/libs/client/users-management-view/ng-package.json
  master/libs/client/users-management-view/package.json
  master/libs/client/users-management-view/project.json
  master/libs/client/users-management-view/src/index.ts
  master/libs/client/users-management-view/src/lib/client-users-management-view.module.spec.ts
  master/libs/client/users-management-view/src/lib/client-users-management-view.module.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.html
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.scss
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.spec.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
  master/libs/client/users-management-view/src/test-setup.ts
  master/libs/client/users-management-view/tsconfig.json
  master/libs/client/users-management-view/tsconfig.lib.json
  master/libs/client/users-management-view/tsconfig.lib.prod.json
  master/libs/client/users-management-view/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: Front-End, ui engineer, Important

#200 Device adding
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
Labels: Front-End

#202 ✨ (api): get gateways
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
Labels: API, api engineer

#201 Device endpoint integration
  .github/workflows/tests.yml
  master/.env
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.spec.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.module.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.spec.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.ts
  master/libs/chirpstack/chirpstack-gateway/package.json
  master/libs/chirpstack/chirpstack-gateway/project.json
  master/libs/chirpstack/chirpstack-gateway/src/lib/chirpstack-chirpstack-gateway.service.ts
  master/libs/chirpstack/chirpstack-sensor/package.json
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.module.ts
  master/libs/chirpstack/package.json
  master/libs/chirpstack/src/index.ts
  master/libs/chirpstack/src/lib/chirpstack.module.ts
  master/libs/chirpstack/src/lib/chirpstack.service.spec.ts
  master/libs/chirpstack/src/lib/chirpstack.service.ts
  master/libs/location/src/lib/location.module.ts
  master/libs/location/src/lib/location.service.spec.ts
  master/libs/location/src/lib/location.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: API, thingsboard, chirpstack, map

#210 Read me update
  README.md
Labels: documentation

#211 📝 (readme) updated project readme
  README.md
Labels: documentation

#212 📝 (readme) demo 2 readme
  README.md
Labels: documentation

#204 :art: (UI): Sensor Info Component
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/shared-ui/components-ui/src/index.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.html
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.scss
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.ts
  master/tsconfig.base.json
Labels: (system) Front-End, (role) ui engineer

#220 Env linking
  master/.env
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.module.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: enhancement, (system) API, (system) Database, (system) Server, (external) thingsboard, (external) chirpstack, map

#221 Linking work
  master/angular.json
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/leaflet-library/src/lib/client-leaflet-library.module.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/reserve-view/src/lib/client-reserve-view.module.ts
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.html
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.scss
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/shared-services/.browserslistrc
  master/libs/client/shared-services/.eslintrc.json
  master/libs/client/shared-services/README.md
  master/libs/client/shared-services/jest.config.ts
  master/libs/client/shared-services/ng-package.json
  master/libs/client/shared-services/package.json
  master/libs/client/shared-services/project.json
  master/libs/client/shared-services/src/index.ts
  master/libs/client/shared-services/src/lib/client-shared-services.module.spec.ts
  master/libs/client/shared-services/src/lib/client-shared-services.module.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.spec.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.ts
  master/libs/client/shared-services/src/test-setup.ts
  master/libs/client/shared-services/tsconfig.json
  master/libs/client/shared-services/tsconfig.lib.json
  master/libs/client/shared-services/tsconfig.lib.prod.json
  master/libs/client/shared-services/tsconfig.spec.json
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.html
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.ts
  master/libs/client/user-storage-controller/.browserslistrc
  master/libs/client/user-storage-controller/.eslintrc.json
  master/libs/client/user-storage-controller/README.md
  master/libs/client/user-storage-controller/jest.config.ts
  master/libs/client/user-storage-controller/ng-package.json
  master/libs/client/user-storage-controller/package.json
  master/libs/client/user-storage-controller/project.json
  master/libs/client/user-storage-controller/src/index.ts
  master/libs/client/user-storage-controller/src/lib/client-user-storage-controller.module.spec.ts
  master/libs/client/user-storage-controller/src/lib/client-user-storage-controller.module.ts
  master/libs/client/user-storage-controller/src/lib/token-manager/token-manager.service.spec.ts
  master/libs/client/user-storage-controller/src/lib/token-manager/token-manager.service.ts
  master/libs/client/user-storage-controller/src/test-setup.ts
  master/libs/client/user-storage-controller/tsconfig.json
  master/libs/client/user-storage-controller/tsconfig.lib.json
  master/libs/client/user-storage-controller/tsconfig.lib.prod.json
  master/libs/client/user-storage-controller/tsconfig.spec.json
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/tsconfig.base.json
Labels: enhancement, (system) API, (system) Front-End, (system) Server, (external) thingsboard, (role) api engineer, (role) ui engineer, (role) backend engineer, map
