Repository COS301-SE-2022/Pure-LoRa-Tracking, pull requests merged in 2022-07, with the labels that each got.

#228 ✨ (thingsboard): change reserve for user
  master/.env
  master/angular.json
  master/libs/api/login-endpoint/src/api-login.interface.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/middleware/http-logger/src/lib/middleware-http-logger.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/.eslintrc.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/README.md
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/jest.config.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/package.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/project.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/index.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/lib/thingsboard-thingsboard-user-thingsboard-user-provision.module.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/lib/thingsboard-thingsboard-user-thingsboard-user-provision.service.spec.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/src/lib/thingsboard-thingsboard-user-thingsboard-user-provision.service.ts
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/tsconfig.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/tsconfig.lib.json
  master/libs/thingsboard/thingsboard-user/thingsboard-user-provision/tsconfig.spec.json
  master/tsconfig.base.json
Labels: (system) API, (external) thingsboard, (role) api engineer, (role) data engineer, (role) backend engineer

#230 🧱 (repo): generate 2nd tier
  master/.env
  master/angular.json
  master/apps/api/src/app/app.module.ts
  master/apps/processing-tier/.eslintrc.json
  master/apps/processing-tier/jest.config.ts
  master/apps/processing-tier/project.json
  master/apps/processing-tier/src/app/.gitkeep
  master/apps/processing-tier/src/app/app.module.ts
  master/apps/processing-tier/src/assets/.gitkeep
  master/apps/processing-tier/src/environments/environment.prod.ts
  master/apps/processing-tier/src/environments/environment.ts
  master/apps/processing-tier/src/main.ts
  master/apps/processing-tier/tsconfig.app.json
  master/apps/processing-tier/tsconfig.json
  master/apps/processing-tier/tsconfig.spec.json
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/processing-api/router/.eslintrc.json
  master/libs/processing-api/router/README.md
  master/libs/processing-api/router/jest.config.ts
  master/libs/processing-api/router/package.json
  master/libs/processing-api/router/project.json
  master/libs/processing-api/router/src/index.ts
  master/libs/processing-api/router/src/lib/processing-api-router.module.ts
  master/libs/processing-api/router/tsconfig.json
  master/libs/processing-api/router/tsconfig.lib.json
  master/libs/processing-api/router/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: enhancement, (system) Server, (role) data engineer, (role) architect

#233 🐛 (thingsboard): fix bugs
  master/.env
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/middleware/http-logger/src/lib/middleware-http-logger.service.ts
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: bug, (system) API, (system) Front-End, (system) Server, (role) api engineer, (role) tester

#236 ⚡️ (api): endpoint maintenance
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.spec.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.module.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
Labels: (ci/cd) enhancement, (system) API, (system) Front-End, (system) Server, (external) thingsboard, (role) api engineer, (role) ui engineer, (role) backend engineer, (time) required soon

#246 UI multiple reserve
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.html
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
Labels: (aid) help wanted, (system) Front-End, (role) ui engineer, (time) Important

#248 🐛 (api): login error when thingsboard is offline
  master/apps/lora-tracking/src/main.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
Labels: (system) API, (system) Server, (external) thingsboard, (role) api engineer, (role) backend engineer

#255 🐛 (debug): general debug
  master/package.json
Labels: docker

#256 ✨ (thingsboard): reserve management
  master/angular.json
  master/libs/thingsboard/thingsboard-admin/.eslintrc.json
  master/libs/thingsboard/thingsboard-admin/README.md
  master/libs/thingsboard/thingsboard-admin/jest.config.ts
  master/libs/thingsboard/thingsboard-admin/package.json
  master/libs/thingsboard/thingsboard-admin/project.json
  master/libs/thingsboard/thingsboard-admin/src/index.ts
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.module.ts
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.service.spec.ts
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.service.ts
  master/libs/thingsboard/thingsboard-admin/tsconfig.json
  master/libs/thingsboard/thingsboard-admin/tsconfig.lib.json
  master/libs/thingsboard/thingsboard-admin/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.module.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-reserve/.eslintrc.json
  master/libs/thingsboard/thingsboard-reserve/README.md
  master/libs/thingsboard/thingsboard-reserve/jest.config.ts
  master/libs/thingsboard/thingsboard-reserve/package.json
  master/libs/thingsboard/thingsboard-reserve/project.json
  master/libs/thingsboard/thingsboard-reserve/src/index.ts
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.module.ts
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.service.spec.ts
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.service.ts
  master/libs/thingsboard/thingsboard-reserve/tsconfig.json
  master/libs/thingsboard/thingsboard-reserve/tsconfig.lib.json
  master/libs/thingsboard/thingsboard-reserve/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: (system) API, (system) Server, (external) thingsboard, (role) api engineer, (role) backend engineer

#266 ✨ (api): reserve management
  master/angular.json
  master/libs/api/api-router/src/lib/api-api-router.module.ts
  master/libs/api/reserve-endpoint/.eslintrc.json
  master/libs/api/reserve-endpoint/README.md
  master/libs/api/reserve-endpoint/jest.config.ts
  master/libs/api/reserve-endpoint/package.json
  master/libs/api/reserve-endpoint/project.json
  master/libs/api/reserve-endpoint/src/index.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.controller.spec.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.controller.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.module.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.spec.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.ts
  master/libs/api/reserve-endpoint/src/reserve-endpoint.interface.ts
  master/libs/api/reserve-endpoint/tsconfig.json
  master/libs/api/reserve-endpoint/tsconfig.lib.json
  master/libs/api/reserve-endpoint/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.module.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.service.spec.ts
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: (system) API, (system) Server, (external) thingsboard, (role) api engineer, (role) backend engineer, (time) required soon

#267 ✅ (thingsboard): reserve tests
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.service.spec.ts
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.service.ts
Labels: (system) Server, (external) thingsboard, (role) tester, (time) required soon

#268 ✨ (thingsboard): testing library
  master/angular.json
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.service.spec.ts
  master/libs/thingsboard/thingsboard-tests/.eslintrc.json
  master/libs/thingsboard/thingsboard-tests/README.md
  master/libs/thingsboard/thingsboard-tests/jest.config.ts
  master/libs/thingsboard/thingsboard-tests/package.json
  master/libs/thingsboard/thingsboard-tests/project.json
  master/libs/thingsboard/thingsboard-tests/src/index.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.module.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.spec.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
  master/libs/thingsboard/thingsboard-tests/tsconfig.json
  master/libs/thingsboard/thingsboard-tests/tsconfig.lib.json
  master/libs/thingsboard/thingsboard-tests/tsconfig.spec.json
  master/tsconfig.base.json
Labels: (system) Server, (external) thingsboard, (role) tester, (time) required soon

#271 ✅ (tests): user tests
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#272 ✅ (thingsboard): user tests
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#273 ✅ (tests): thingsboard device
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#274 ✅ (thingsboard): thingsboard device
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#276 ✅ (tests): thingsboard telemetry
  master/libs/thingsboard/thingsboard-admin/src/lib/thingsboard-thingsboard-admin.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#277 🧪 (tests): thingsboard asset
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.spec.ts
  master/libs/thingsboard/thingsboard-asset/src/lib/thingsboard-thingsboard-asset.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#278 ✅ (tests): thingsboard reserve
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.service.spec.ts
Labels: (system) Server, (external) thingsboard, (role) tester

#289 Update README.md
  README.md
Labels: (info) documentation, (role) business analayst

#287 Frontend testing
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
Labels: (system) Front-End, (role) tester, map

#290 🗑️ (repo): cleanup second tier
  master/.env
  master/angular.json
  master/apps/api/src/app/app.module.ts
  master/apps/api/src/data-process/data-process.module.ts
  master/apps/api/src/main.ts
  master/apps/lora-tracking/src/main.ts
  master/apps/processing-tier/.eslintrc.json
  master/apps/processing-tier/jest.config.ts
  master/apps/processing-tier/project.json
  master/apps/processing-tier/src/app/.gitkeep
  master/apps/processing-tier/src/assets/.gitkeep
  master/apps/processing-tier/src/environments/environment.prod.ts
  master/apps/processing-tier/src/environments/environment.ts
  master/apps/processing-tier/src/main.ts
  master/apps/processing-tier/tsconfig.app.json
  master/apps/processing-tier/tsconfig.json
  master/apps/processing-tier/tsconfig.spec.json
Labels: (system) Server, (info) architecture, (role) architect, (role) backend engineer

#291 Frontend testing
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.spec.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.ts
  master/libs/client/user-storage-controller/src/lib/token-manager/token-manager.service.spec.ts
  master/libs/client/user-storage-controller/src/lib/token-manager/token-manager.service.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
Labels: (system) Front-End, (role) tester

#294 Frontend testing
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.spec.ts
Labels: (system) Front-End, (role) tester

#298 ✨ (api): login returns current reserve and list
  master/libs/api/login-endpoint/src/api-login.interface.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
Labels: (system) API, (external) thingsboard, (role) api engineer

#301 Multiple reserve selection
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.spec.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: (system) Front-End, (role) tester, map

#309 ✨ show all users in users view,removed dropdown
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.html
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
Labels: (system) Front-End, (role) ui engineer

#321 ✨ (ai): averaging info
  master/angular.json
  master/libs/ai/heatmap-average/.eslintrc.json
  master/libs/ai/heatmap-average/README.md
  master/libs/ai/heatmap-average/jest.config.ts
  master/libs/ai/heatmap-average/package.json
  master/libs/ai/heatmap-average/project.json
  master/libs/ai/heatmap-average/src/average-input.interface.ts
  master/libs/ai/heatmap-average/src/index.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.module.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.spec.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/heatmap-average/tsconfig.json
  master/libs/ai/heatmap-average/tsconfig.lib.json
  master/libs/ai/heatmap-average/tsconfig.spec.json
  master/libs/mock-generator/averaging-data-generator/averaging-mock-data-generator.py
  master/tsconfig.base.json
Labels: (system) Database, (role) data engineer

#327 ✨ (ai): averaging model
  master/libs/ai/Models/averaging/.gitignore
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.spec.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/mock-generator/averaging-data-generator/.gitignore
  master/libs/mock-generator/averaging-data-generator/averaging-mock-data-generator.py
  master/package.json
Labels: (system) Database, (role) data engineer, (role) backend engineer, (system) AI

#328 🐛 (api): get multiple reserves for admin
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
Labels: (system) API, (role) api engineer

#329 ✨(api): reserve details
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.controller.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.ts
  master/libs/api/reserve-endpoint/src/reserve-endpoint.interface.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
Labels: (system) API, (role) api engineer

#330 ✨ (api/thingsboard): unassign device
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: (system) API, (external) thingsboard, (role) api engineer

#331 ✨ (api): userID method for endpoint
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: (system) API, (role) api engineer

#332 ✅ (tests): fix tb client tests
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (external) thingsboard, (role) tester

#337 Tests update
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (system) API, (role) tester

#341 Linking frontend
  master/angular.json
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.ts
  master/libs/api/reserve-endpoint/src/reserve-endpoint.interface.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.spec.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/manage-view/src/lib/client-manage-view.module.ts
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/.browserslistrc
  master/libs/client/manage-view/src/lib/devices-mange-view/.eslintrc.json
  master/libs/client/manage-view/src/lib/devices-mange-view/README.md
  master/libs/client/manage-view/src/lib/devices-mange-view/jest.config.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/ng-package.json
  master/libs/client/manage-view/src/lib/devices-mange-view/package.json
  master/libs/client/manage-view/src/lib/devices-mange-view/project.json
  master/libs/client/manage-view/src/lib/devices-mange-view/src/index.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/client-manage-view-src-lib-devices-mange-view.module.spec.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/client-manage-view-src-lib-devices-mange-view.module.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.html
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.scss
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.spec.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/test-setup.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/tsconfig.json
  master/libs/client/manage-view/src/lib/devices-mange-view/tsconfig.lib.json
  master/libs/client/manage-view/src/lib/devices-mange-view/tsconfig.lib.prod.json
  master/libs/client/manage-view/src/lib/devices-mange-view/tsconfig.spec.json
  master/libs/client/manage-view/src/lib/manage-page/manage-page.component.html
  master/libs/client/manage-view/src/lib/profile-edit/src/lib/profiles-edit/profiles-edit.component.spec.ts
  master/libs/client/manage-view/src/lib/profile-edit/src/lib/profiles-edit/profiles-edit.component.ts
  master/libs/client/manage-view/src/lib/profile-view/src/lib/profiles-view/profiles-view.component.html
  master/libs/client/manage-view/src/lib/profile-view/src/lib/profiles-view/profiles-view.component.spec.ts
  master/libs/client/manage-view/src/lib/profile-view/src/lib/profiles-view/profiles-view.component.ts
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.html
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.spec.ts
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.ts
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.spec.ts
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.ts
  master/libs/client/manage-view/src/lib/users-edit/src/lib/user-edit/user-edit.component.html
  master/libs/client/manage-view/src/lib/users-edit/src/lib/user-edit/user-edit.component.spec.ts
  master/libs/client/manage-view/src/lib/users-edit/src/lib/user-edit/user-edit.component.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.ts
  master/libs/client/shared-ui/components-ui/src/lib/sensor-detail-view/sensor-detail-view.component.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.html
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-reserve/src/lib/thingsboard-thingsboard-reserve.service.ts
  master/tsconfig.base.json
Labels: (ci/cd) enhancement, (system) API, (system) Front-End, (role) backend engineer, map

#342 ✨ (db): store and acquire averaging data
  master/apps/data-processing/src/main.ts
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
Labels: (system) Database, (role) data engineer

#344 ✅ (tests): tb tests update complete
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (external) thingsboard, (role) tester

#347 ✅ (tests): update api tests
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
Labels: (system) API, (role) api engineer, (role) tester

#297 UI expand device
  master/apps/lora-tracking/src/styles.scss
  master/libs/client/leaflet-library/src/lib/client-leaflet-library.module.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/reserve-view/src/index.ts
  master/libs/client/reserve-view/src/lib/client-reserve-view.module.ts
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.html
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.scss
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.spec.ts
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/shared-ui/components-ui/src/index.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/shared-ui/components-ui/src/lib/snackbar-alert/snackbar-alert.component.html
  master/libs/client/shared-ui/components-ui/src/lib/snackbar-alert/snackbar-alert.component.scss
  master/libs/client/shared-ui/components-ui/src/lib/snackbar-alert/snackbar-alert.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/snackbar-alert/snackbar-alert.component.ts
Labels: (system) Front-End, (role) ui engineer, (time) required soon

#349 Ai averaging
  master/angular.json
  master/apps/data-processing/src/app/app.module.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.spec.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/mock-data-trainer/.eslintrc.json
  master/libs/ai/mock-data-trainer/README.md
  master/libs/ai/mock-data-trainer/jest.config.ts
  master/libs/ai/mock-data-trainer/package.json
  master/libs/ai/mock-data-trainer/project.json
  master/libs/ai/mock-data-trainer/src/index.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.module.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.service.spec.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.service.ts
  master/libs/ai/mock-data-trainer/tsconfig.json
  master/libs/ai/mock-data-trainer/tsconfig.lib.json
  master/libs/ai/mock-data-trainer/tsconfig.spec.json
  master/libs/ai/mock-generator/averaging-data-generator/.eslintrc.json
  master/libs/ai/mock-generator/averaging-data-generator/README.md
  master/libs/ai/mock-generator/averaging-data-generator/jest.config.ts
  master/libs/ai/mock-generator/averaging-data-generator/package.json
  master/libs/ai/mock-generator/averaging-data-generator/project.json
  master/libs/ai/mock-generator/averaging-data-generator/src/index.ts
  master/libs/ai/mock-generator/averaging-data-generator/src/lib/ai-mock-generator-averaging-data-generator.module.ts
  master/libs/ai/mock-generator/averaging-data-generator/src/lib/ai-mock-generator-averaging-data-generator.service.spec.ts
  master/libs/ai/mock-generator/averaging-data-generator/src/lib/ai-mock-generator-averaging-data-generator.service.ts
  master/libs/ai/mock-generator/averaging-data-generator/tsconfig.json
  master/libs/ai/mock-generator/averaging-data-generator/tsconfig.lib.json
  master/libs/ai/mock-generator/averaging-data-generator/tsconfig.spec.json
  master/package.json
  master/tsconfig.base.json
Labels: (system) Server, (role) backend engineer, (system) AI

#360 :art: (UI): Login Page
  master/libs/client/users-view/src/lib/login/login.component.html
  master/libs/client/users-view/src/lib/login/login.component.scss
  master/libs/client/users-view/src/lib/login/login.component.ts
Labels: (system) Front-End, (role) ui engineer, (time) Important

#354 :art: (UI): Map Panel styling
  master/apps/lora-tracking/src/index.html
  master/apps/lora-tracking/src/styles.scss
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.html
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
Labels: (system) Front-End, (role) ui engineer, (time) Important

#361 (UI): Manage pages layout cleanup
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.html
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.scss
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.html
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.scss
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.html
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.scss
  master/libs/client/manage-view/src/lib/users-edit/src/lib/user-edit/user-edit.component.scss
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.html
Labels: (system) Front-End, (role) ui engineer, (time) Important
