Repository COS301-SE-2022/Pure-LoRa-Tracking, pull requests merged in 2022-05, with the labels that each got.

#1 Repo setup
  .github/workflows/tests.yml
  .gitignore
  master/.editorconfig
  master/.eslintrc.json
  master/.gitignore
  master/.prettierignore
  master/.prettierrc
  master/.vscode/extensions.json
  master/README.md
  master/apps/.gitkeep
  master/apps/lora-tracking/.eslintrc.json
  master/apps/lora-tracking/jest.config.ts
  master/apps/lora-tracking/project.json
  master/apps/lora-tracking/src/app/.gitkeep
  master/apps/lora-tracking/src/app/app.controller.spec.ts
  master/apps/lora-tracking/src/app/app.controller.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/apps/lora-tracking/src/app/app.service.spec.ts
  master/apps/lora-tracking/src/app/app.service.ts
  master/apps/lora-tracking/src/assets/.gitkeep
  master/apps/lora-tracking/src/environments/environment.prod.ts
  master/apps/lora-tracking/src/environments/environment.ts
  master/apps/lora-tracking/src/main.ts
  master/apps/lora-tracking/tsconfig.app.json
  master/apps/lora-tracking/tsconfig.json
  master/apps/lora-tracking/tsconfig.spec.json
  master/jest.config.ts
  master/jest.preset.ts
  master/libs/.gitkeep
  master/nx.json
  master/package.json
  master/tools/generators/.gitkeep
  master/tools/tsconfig.tools.json
  master/tsconfig.base.json
  master/workspace.json
  master/yarn.lock
Labels: CI/CD

#19 Map api
  master/angular.json
  master/apps/api/src/app/app.module.ts
  master/libs/api/api-router/.eslintrc.json
  master/libs/api/api-router/README.md
  master/libs/api/api-router/jest.config.ts
  master/libs/api/api-router/package.json
  master/libs/api/api-router/project.json
  master/libs/api/api-router/src/index.ts
  master/libs/api/api-router/src/lib/api-api-router.module.ts
  master/libs/api/api-router/tsconfig.json
  master/libs/api/api-router/tsconfig.lib.json
  master/libs/api/api-router/tsconfig.spec.json
  master/libs/api/map-endpoint/.eslintrc.json
  master/libs/api/map-endpoint/README.md
  master/libs/api/map-endpoint/jest.config.ts
  master/libs/api/map-endpoint/package.json
  master/libs/api/map-endpoint/project.json
  master/libs/api/map-endpoint/src/index.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.module.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/api/map-endpoint/tsconfig.json
  master/libs/api/map-endpoint/tsconfig.lib.json
  master/libs/api/map-endpoint/tsconfig.spec.json
  master/package-lock.json
  master/package.json
  master/tsconfig.base.json
  master/yarn.lock
Labels: API, architecture, api engineer

#21 sparkles (api): complete mock endpoint data for demo
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
Labels: API, architecture, api engineer, architect, backend engineer

#24 ♻️ (api): add center to response for reserve
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.controller.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
Labels: API, architecture, api engineer, architect

#25 sparkles (api): hardware debug endpoint
  master/angular.json
  master/libs/api/api-router/src/lib/api-api-router.module.ts
  master/libs/api/hardware-debug/.eslintrc.json
  master/libs/api/hardware-debug/README.md
  master/libs/api/hardware-debug/jest.config.ts
  master/libs/api/hardware-debug/package.json
  master/libs/api/hardware-debug/project.json
  master/libs/api/hardware-debug/src/index.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.controller.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.controller.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.module.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.ts
  master/libs/api/hardware-debug/src/lib/hardware-payload.interface.ts
  master/libs/api/hardware-debug/tsconfig.json
  master/libs/api/hardware-debug/tsconfig.lib.json
  master/libs/api/hardware-debug/tsconfig.spec.json
  master/tsconfig.base.json
Labels: API, chirpstack, hardware, api engineer

#28 Angular map
  master/angular.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/libs/client/demo/src/lib/client-demo.module.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/map-apicaller/.browserslistrc
  master/libs/client/map-apicaller/.eslintrc.json
  master/libs/client/map-apicaller/README.md
  master/libs/client/map-apicaller/jest.config.ts
  master/libs/client/map-apicaller/ng-package.json
  master/libs/client/map-apicaller/package.json
  master/libs/client/map-apicaller/project.json
  master/libs/client/map-apicaller/src/index.ts
  master/libs/client/map-apicaller/src/lib/client-map-apicaller.module.spec.ts
  master/libs/client/map-apicaller/src/lib/client-map-apicaller.module.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/map-apicaller/src/test-setup.ts
  master/libs/client/map-apicaller/tsconfig.json
  master/libs/client/map-apicaller/tsconfig.lib.json
  master/libs/client/map-apicaller/tsconfig.lib.prod.json
  master/libs/client/map-apicaller/tsconfig.spec.json
  master/libs/client/maps/src/lib/client-maps.module.ts
  master/libs/client/maps/src/lib/interactive-map/devicemarker.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.html
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.ts
  master/libs/shared-interfaces/.browserslistrc
  master/libs/shared-interfaces/.eslintrc.json
  master/libs/shared-interfaces/README.md
  master/libs/shared-interfaces/jest.config.ts
  master/libs/shared-interfaces/ng-package.json
  master/libs/shared-interfaces/package.json
  master/libs/shared-interfaces/project.json
  master/libs/shared-interfaces/src/index.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/shared-interfaces/src/lib/shared-interfaces.module.ts
  master/libs/shared-interfaces/src/test-setup.ts
  master/libs/shared-interfaces/tsconfig.json
  master/libs/shared-interfaces/tsconfig.lib.json
  master/libs/shared-interfaces/tsconfig.lib.prod.json
  master/libs/shared-interfaces/tsconfig.spec.json
  master/package.json
  master/tsconfig.base.json
Labels: Front-End, ui engineer

#30 Revert "Angular map" to fix nx console issue
  master/angular.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/libs/client/demo/src/lib/client-demo.module.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/map-apicaller/.browserslistrc
  master/libs/client/map-apicaller/.eslintrc.json
  master/libs/client/map-apicaller/README.md
  master/libs/client/map-apicaller/jest.config.ts
  master/libs/client/map-apicaller/ng-package.json
  master/libs/client/map-apicaller/package.json
  master/libs/client/map-apicaller/project.json
  master/libs/client/map-apicaller/src/index.ts
  master/libs/client/map-apicaller/src/lib/client-map-apicaller.module.spec.ts
  master/libs/client/map-apicaller/src/lib/client-map-apicaller.module.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/map-apicaller/src/test-setup.ts
  master/libs/client/map-apicaller/tsconfig.json
  master/libs/client/map-apicaller/tsconfig.lib.json
  master/libs/client/map-apicaller/tsconfig.lib.prod.json
  master/libs/client/map-apicaller/tsconfig.spec.json
  master/libs/client/maps/src/lib/client-maps.module.ts
  master/libs/client/maps/src/lib/interactive-map/devicemarker.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.html
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.ts
  master/libs/shared-interfaces/.browserslistrc
  master/libs/shared-interfaces/.eslintrc.json
  master/libs/shared-interfaces/README.md
  master/libs/shared-interfaces/jest.config.ts
  master/libs/shared-interfaces/ng-package.json
  master/libs/shared-interfaces/package.json
  master/libs/shared-interfaces/project.json
  master/libs/shared-interfaces/src/index.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/shared-interfaces/src/lib/shared-interfaces.module.ts
  master/libs/shared-interfaces/src/test-setup.ts
  master/libs/shared-interfaces/tsconfig.json
  master/libs/shared-interfaces/tsconfig.lib.json
  master/libs/shared-interfaces/tsconfig.lib.prod.json
  master/libs/shared-interfaces/tsconfig.spec.json
  master/package.json
  master/tsconfig.base.json
Labels: Important

#32 readding "Angular map"
  master/angular.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/libs/client/demo/src/lib/client-demo.module.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/map-apicaller/.browserslistrc
  master/libs/client/map-apicaller/.eslintrc.json
  master/libs/client/map-apicaller/README.md
  master/libs/client/map-apicaller/jest.config.ts
  master/libs/client/map-apicaller/ng-package.json
  master/libs/client/map-apicaller/package.json
  master/libs/client/map-apicaller/project.json
  master/libs/client/map-apicaller/src/index.ts
  master/libs/client/map-apicaller/src/lib/client-map-apicaller.module.spec.ts
  master/libs/client/map-apicaller/src/lib/client-map-apicaller.module.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/map-apicaller/src/test-setup.ts
  master/libs/client/map-apicaller/tsconfig.json
  master/libs/client/map-apicaller/tsconfig.lib.json
  master/libs/client/map-apicaller/tsconfig.lib.prod.json
  master/libs/client/map-apicaller/tsconfig.spec.json
  master/libs/client/maps/src/lib/client-maps.module.ts
  master/libs/client/maps/src/lib/interactive-map/devicemarker.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.html
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.ts
  master/libs/shared-interfaces/.browserslistrc
  master/libs/shared-interfaces/.eslintrc.json
  master/libs/shared-interfaces/README.md
  master/libs/shared-interfaces/jest.config.ts
  master/libs/shared-interfaces/ng-package.json
  master/libs/shared-interfaces/package.json
  master/libs/shared-interfaces/project.json
  master/libs/shared-interfaces/src/index.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/shared-interfaces/src/lib/shared-interfaces.module.ts
  master/libs/shared-interfaces/src/test-setup.ts
  master/libs/shared-interfaces/tsconfig.json
  master/libs/shared-interfaces/tsconfig.lib.json
  master/libs/shared-interfaces/tsconfig.lib.prod.json
  master/libs/shared-interfaces/tsconfig.spec.json
  master/package.json
  master/tsconfig.base.json
Labels: Front-End, ui engineer

#31 Angular map
  master/angular.json
  master/libs/client/maps/src/lib/interactive-map/devicemarker.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.html
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.ts
Labels: bug, Front-End, ui engineer

#34 ✅ Added code-coverage
  .github/workflows/tests.yml
  master/jest.preset.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.spec.ts
Labels: CI/CD

#38 Hardware api
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.controller.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.controller.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.spec.ts
  master/libs/api/hardware-debug/src/lib/-api-hardware-debug.service.ts
  master/libs/api/hardware-debug/src/lib/hardware-payload.interface.ts
Labels: API, chirpstack, hardware

#39 📝 TTGO readme
  firmware/README.md
Labels: documentation, hardware

#42 Added e2e tests and API functionality
  master/apps/lora-tracking-e2e/src/integration/app.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.html
Labels: Front-End, tester

#53 :memo: Updated ReadMe
  README.md
Labels: documentation

#59 Added the base leaflet map
  master/angular.json
  master/apps/lora-tracking-e2e/src/integration/app.spec.ts
  master/apps/lora-tracking/project.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/libs/client/demo/src/lib/client-demo.module.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/leaflet-library/.browserslistrc
  master/libs/client/leaflet-library/.eslintrc.json
  master/libs/client/leaflet-library/README.md
  master/libs/client/leaflet-library/jest.config.ts
  master/libs/client/leaflet-library/ng-package.json
  master/libs/client/leaflet-library/package.json
  master/libs/client/leaflet-library/project.json
  master/libs/client/leaflet-library/src/index.ts
  master/libs/client/leaflet-library/src/lib/client-leaflet-library.module.spec.ts
  master/libs/client/leaflet-library/src/lib/client-leaflet-library.module.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.html
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.scss
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/leaflet-library/src/test-setup.ts
  master/libs/client/leaflet-library/tsconfig.json
  master/libs/client/leaflet-library/tsconfig.lib.json
  master/libs/client/leaflet-library/tsconfig.lib.prod.json
  master/libs/client/leaflet-library/tsconfig.spec.json
  master/libs/client/maps/README.md
  master/libs/client/maps/src/index.ts
  master/libs/client/maps/src/lib/client-maps.module.ts
  master/libs/client/maps/src/lib/interactive-map/devicemarker.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.html
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.scss
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.spec.ts
  master/libs/client/maps/src/lib/interactive-map/interactive-map.component.ts
  master/package.json
  master/tsconfig.base.json
Labels: Front-End, ui engineer, tester

#63 ✨ Added Ability to dynamically change map and map markers
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.scss
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/archive.txt
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.scss
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/shared-interfaces/src/index.ts
  master/libs/shared-interfaces/src/lib/map-options-interfaces.ts
Labels: enhancement, Front-End, ui engineer

#78 🎨 (demo): old testing prep
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.module.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: API, api engineer

#79 sparkles (thingsboard): Thingsboard async login and user
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/tsconfig.base.json
Labels: API, Server, thingsboard

#85 sparkles (database): database proxy library frame
  master/angular.json
  master/apps/api/src/app/app.module.ts
  master/libs/database-proxy/.eslintrc.json
  master/libs/database-proxy/README.md
  master/libs/database-proxy/jest.config.ts
  master/libs/database-proxy/package.json
  master/libs/database-proxy/project.json
  master/libs/database-proxy/src/index.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/database-proxy/tsconfig.json
  master/libs/database-proxy/tsconfig.lib.json
  master/libs/database-proxy/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
  master/package.json
  master/tsconfig.base.json
Labels: API, Database, Server, thingsboard, api engineer, data engineer, backend engineer

#86 sparkles (database): basic interface
  master/apps/api/src/app/app.module.ts
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
Labels: Database, Server, data engineer, backend engineer

#89 sparkles (chirpstack)
  master/angular.json
  master/libs/chirpstack/.eslintrc.json
  master/libs/chirpstack/README.md
  master/libs/chirpstack/chirpstack-sensor/.eslintrc.json
  master/libs/chirpstack/chirpstack-sensor/README.md
  master/libs/chirpstack/chirpstack-sensor/jest.config.ts
  master/libs/chirpstack/chirpstack-sensor/package.json
  master/libs/chirpstack/chirpstack-sensor/project.json
  master/libs/chirpstack/chirpstack-sensor/src/index.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.module.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.spec.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.ts
  master/libs/chirpstack/chirpstack-sensor/tsconfig.json
  master/libs/chirpstack/chirpstack-sensor/tsconfig.lib.json
  master/libs/chirpstack/chirpstack-sensor/tsconfig.spec.json
  master/libs/chirpstack/jest.config.ts
  master/libs/chirpstack/package.json
  master/libs/chirpstack/project.json
  master/libs/chirpstack/src/index.ts
  master/libs/chirpstack/src/lib/chirpstack.module.ts
  master/libs/chirpstack/src/lib/chirpstack.service.spec.ts
  master/libs/chirpstack/src/lib/chirpstack.service.ts
  master/libs/chirpstack/tsconfig.json
  master/libs/chirpstack/tsconfig.lib.json
  master/libs/chirpstack/tsconfig.spec.json
  master/tsconfig.base.json
Labels: API, Server, backend engineer

#91 Revert "sparkles (chirpstack)"
  master/angular.json
  master/libs/chirpstack/.eslintrc.json
  master/libs/chirpstack/README.md
  master/libs/chirpstack/chirpstack-sensor/.eslintrc.json
  master/libs/chirpstack/chirpstack-sensor/README.md
  master/libs/chirpstack/chirpstack-sensor/jest.config.ts
  master/libs/chirpstack/chirpstack-sensor/package.json
  master/libs/chirpstack/chirpstack-sensor/project.json
  master/libs/chirpstack/chirpstack-sensor/src/index.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.module.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.spec.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.ts
  master/libs/chirpstack/chirpstack-sensor/tsconfig.json
  master/libs/chirpstack/chirpstack-sensor/tsconfig.lib.json
  master/libs/chirpstack/chirpstack-sensor/tsconfig.spec.json
  master/libs/chirpstack/jest.config.ts
  master/libs/chirpstack/package.json
  master/libs/chirpstack/project.json
  master/libs/chirpstack/src/index.ts
  master/libs/chirpstack/src/lib/chirpstack.module.ts
  master/libs/chirpstack/src/lib/chirpstack.service.spec.ts
  master/libs/chirpstack/src/lib/chirpstack.service.ts
  master/libs/chirpstack/tsconfig.json
  master/libs/chirpstack/tsconfig.lib.json
  master/libs/chirpstack/tsconfig.spec.json
  master/tsconfig.base.json
Labels: API, Server, api engineer, backend engineer

#87 sparkles (thingsboard): get telemetry for device list
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer

#98 Changed up interfaces and added ability to toggle polygons
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.scss
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/shared-interfaces/src/lib/map-options-interfaces.ts
Labels: API, Front-End, map

#101 sparkles (thingsboard): create and delete devices
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: API, Server, thingsboard, api engineer, backend engineer

#104 Changes to API and map
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.html
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.scss
  master/libs/client/demo/src/lib/demo-map-page/demo-map-page.component.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
Labels: API, Front-End, api engineer, map

#108 Docker compose
  .gitattributes
  master/libs/docker/configs/postgreSQL/chirpstack.sh
  master/libs/docker/docker-compose.yml
  master/package.json
Labels: CI/CD, architecture, docker

#114 (Thingsboard): Assign/Unassign device
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.spec.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
Labels: API, Server, thingsboard, backend engineer
