Repository COS301-SE-2022/Pure-LoRa-Tracking, pull requests merged in 2022-09, with the labels that each got.

#392 🗃️ (db/api): insert raw data to db
  master/angular.json
  master/apps/data-processing/src/app/app.module.ts
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/processing-api/processing-bus/.eslintrc.json
  master/libs/processing-api/processing-bus/README.md
  master/libs/processing-api/processing-bus/jest.config.ts
  master/libs/processing-api/processing-bus/package.json
  master/libs/processing-api/processing-bus/project.json
  master/libs/processing-api/processing-bus/src/index.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.module.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.spec.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/libs/processing-api/processing-bus/tsconfig.json
  master/libs/processing-api/processing-bus/tsconfig.lib.json
  master/libs/processing-api/processing-bus/tsconfig.spec.json
  master/tsconfig.base.json
Labels: (system) API, (system) Database, (role) api engineer, (role) data engineer

#396 ✨ (db): delete device data
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
Labels: (system) Database, (role) data engineer

#405 ✨ (thingsboard): forward perimeter to mongo
  master/.env
  master/angular.json
  master/apps/services/ai-processing/src/app/app.controller.spec.ts
  master/apps/services/ai-processing/src/app/app.controller.ts
  master/apps/services/ai-processing/src/app/app.module.ts
  master/apps/services/ai-processing/src/app/app.service.spec.ts
  master/apps/services/ai-processing/src/app/app.service.ts
  master/apps/services/ai-processing/src/main.ts
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.spec.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/libs/service-bus/.eslintrc.json
  master/libs/service-bus/README.md
  master/libs/service-bus/jest.config.ts
  master/libs/service-bus/package.json
  master/libs/service-bus/project.json
  master/libs/service-bus/src/index.ts
  master/libs/service-bus/src/lib/service-bus.module.ts
  master/libs/service-bus/src/lib/service-bus.service.spec.ts
  master/libs/service-bus/src/lib/service-bus.service.ts
  master/libs/service-bus/tsconfig.json
  master/libs/service-bus/tsconfig.lib.json
  master/libs/service-bus/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.module.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-device/src/lib/thingsboard-thingsboard-device.service.ts
  master/package.json
  master/tsconfig.base.json
Labels: (system) Database, (system) AI

#406 ✨ (db): fetch device perimeter
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
Labels: (system) API, (system) Database

#408 ✨ (pf): working particle filter
  master/angular.json
  master/libs/ai/particle-filter/.eslintrc.json
  master/libs/ai/particle-filter/README.md
  master/libs/ai/particle-filter/jest.config.ts
  master/libs/ai/particle-filter/package.json
  master/libs/ai/particle-filter/project.json
  master/libs/ai/particle-filter/src/index.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.module.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.spec.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.ts
  master/libs/ai/particle-filter/tsconfig.json
  master/libs/ai/particle-filter/tsconfig.lib.json
  master/libs/ai/particle-filter/tsconfig.spec.json
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/package.json
  master/tsconfig.base.json
Labels: (system) Database, (system) Server, (system) AI

#416 ✨ (thingsboard): clear device data on reassign
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: bug

#417 ✨ (ai): service
  master/angular.json
  master/apps/services/ai-processing/src/app/app.controller.spec.ts
  master/apps/services/ai-processing/src/app/app.module.ts
  master/apps/services/ai-processing/src/app/app.service.spec.ts
  master/apps/services/ai-processing/src/app/app.service.ts
  master/libs/ai/ai-triangulation/README.md
  master/libs/ai/ai-triangulation/project.json
  master/libs/ai/ai-triangulation/src/index.ts
  master/libs/ai/ai-triangulation/src/lib/ai-ai-triangulation.module.ts
  master/libs/ai/ai-triangulation/src/lib/ai-ai-triangulation.service.spec.ts
  master/libs/ai/ai-triangulation/src/lib/ai-ai-triangulation.service.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.module.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.spec.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.service.spec.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.service.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.module.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.spec.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.ts
  master/libs/ai/processing-strategy/.eslintrc.json
  master/libs/ai/processing-strategy/README.md
  master/libs/ai/processing-strategy/jest.config.ts
  master/libs/ai/processing-strategy/package.json
  master/libs/ai/processing-strategy/project.json
  master/libs/ai/processing-strategy/src/index.ts
  master/libs/ai/processing-strategy/src/lib/ai-processing-strategy.module.ts
  master/libs/ai/processing-strategy/src/lib/ai-processing-strategy.service.spec.ts
  master/libs/ai/processing-strategy/src/lib/ai-processing-strategy.service.ts
  master/libs/ai/processing-strategy/tsconfig.json
  master/libs/ai/processing-strategy/tsconfig.lib.json
  master/libs/ai/processing-strategy/tsconfig.spec.json
  master/libs/location/src/lib/location.service.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.module.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.spec.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/tsconfig.base.json
Labels: (system) AI

#418 Message Queue integration
  master/.env
  master/angular.json
  master/apps/services/ai-processing/src/app/app.service.ts
  master/apps/services/cp-message-queue/src/app/app.controller.spec.ts
  master/apps/services/cp-message-queue/src/app/app.module.ts
  master/apps/services/cp-message-queue/src/app/app.service.spec.ts
  master/apps/services/cp-message-queue/src/app/app.service.ts
  master/apps/services/cp-message-queue/src/main.ts
  master/libs/ai/ai-processing/.eslintrc.json
  master/libs/ai/ai-processing/README.md
  master/libs/ai/ai-processing/jest.config.ts
  master/libs/ai/ai-processing/package.json
  master/libs/ai/ai-processing/project.json
  master/libs/ai/ai-processing/src/index.ts
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.controller.spec.ts
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.controller.ts
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.module.ts
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.service.spec.ts
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.service.ts
  master/libs/ai/ai-processing/tsconfig.json
  master/libs/ai/ai-processing/tsconfig.lib.json
  master/libs/ai/ai-processing/tsconfig.spec.json
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/database-proxy/src/database-interfaces.interface.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/docker/docker-compose.yml
  master/libs/docker/enabled_plugins
  master/libs/message-queue/.eslintrc.json
  master/libs/message-queue/README.md
  master/libs/message-queue/jest.config.ts
  master/libs/message-queue/package.json
  master/libs/message-queue/project.json
  master/libs/message-queue/src/index.ts
  master/libs/message-queue/src/lib/message-queue.module.ts
  master/libs/message-queue/src/lib/message-queue.service.spec.ts
  master/libs/message-queue/src/lib/message-queue.service.ts
  master/libs/message-queue/tsconfig.json
  master/libs/message-queue/tsconfig.lib.json
  master/libs/message-queue/tsconfig.spec.json
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/package.json
  master/tsconfig.base.json
Labels: (info) architecture, (bus) processing

#419 Ai service
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.spec.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
Labels: (system) AI, (bus) processing

#420 Sensor data endpoint
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.spec.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (system) API, (external) thingsboard

#424 Data linking
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/client/sensor-details/src/lib/communication-data/communication-data.component.ts
  master/libs/client/sensor-details/src/lib/sensor-activity/sensor-activity.component.html
  master/libs/client/sensor-details/src/lib/sensor-activity/sensor-activity.component.ts
  master/libs/client/sensor-details/src/lib/sensor-communication/sensor-communication.component.ts
  master/libs/client/sensor-details/src/lib/sensor-view-detail/sensor-view-detail.component.html
  master/libs/client/sensor-details/src/lib/sensor-view-detail/sensor-view-detail.component.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: (system) API, (system) Front-End, (role) api engineer, (role) ui engineer

#433 Status page
  master/angular.json
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/libs/client/manage-view/src/lib/manage-page/manage-page.component.html
  master/libs/client/manage-view/src/lib/status-view/.eslintrc.json
  master/libs/client/manage-view/src/lib/status-view/jest.config.ts
  master/libs/client/manage-view/src/lib/status-view/ng-package.json
  master/libs/client/manage-view/src/lib/status-view/package.json
  master/libs/client/manage-view/src/lib/status-view/project.json
  master/libs/client/manage-view/src/lib/status-view/src/index.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/client-manage-view-src-lib-status-view.module.spec.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/client-manage-view-src-lib-status-view.module.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.html
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.scss
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.spec.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.ts
  master/libs/client/manage-view/src/lib/status-view/src/test-setup.ts
  master/libs/client/manage-view/src/lib/status-view/tsconfig.json
  master/libs/client/manage-view/src/lib/status-view/tsconfig.lib.json
  master/libs/client/manage-view/src/lib/status-view/tsconfig.lib.prod.json
  master/libs/client/manage-view/src/lib/status-view/tsconfig.spec.json
  master/tsconfig.base.json
Labels: (system) Front-End, (role) ui engineer, (time) required soon

#431 Middleware tests
  master/angular.json
  master/apps/api/src/main.ts
  master/libs/middleware/cookie-management/.eslintrc.json
  master/libs/middleware/cookie-management/README.md
  master/libs/middleware/cookie-management/jest.config.ts
  master/libs/middleware/cookie-management/package.json
  master/libs/middleware/cookie-management/project.json
  master/libs/middleware/cookie-management/src/index.ts
  master/libs/middleware/cookie-management/src/lib/cookie-management.interceptor.spec.ts
  master/libs/middleware/cookie-management/src/lib/cookie-management.interceptor.ts
  master/libs/middleware/cookie-management/src/lib/middleware-cookie-management.module.ts
  master/libs/middleware/cookie-management/tsconfig.json
  master/libs/middleware/cookie-management/tsconfig.lib.json
  master/libs/middleware/cookie-management/tsconfig.spec.json
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.spec.ts
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.ts
  master/tsconfig.base.json
Labels: (system) API, (role) tester

#437 ✨ (thingsboard): reset login by email
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: (system) API

#436 ✨ (tb): add ptype to historical data
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: (aid) help wanted, (system) API

#393 🐛 (thingsboard): multiple reserves from different tenants
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.spec.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: (system) Server, (external) thingsboard, (role) backend engineer

#430 ✨ (tests): ai testing api
  .gitignore
  master/angular.json
  master/apps/tests/ai/.eslintrc.json
  master/apps/tests/ai/jest.config.ts
  master/apps/tests/ai/project.json
  master/apps/tests/ai/results/hmAvgANNTest.csv
  master/apps/tests/ai/results/hmAvgCOMPTests.csv
  master/apps/tests/ai/results/pfTests.csv
  master/apps/tests/ai/results/pfTestsContinuous.csv
  master/apps/tests/ai/src/app/.gitkeep
  master/apps/tests/ai/src/app/app.controller.spec.ts
  master/apps/tests/ai/src/app/app.controller.ts
  master/apps/tests/ai/src/app/app.module.ts
  master/apps/tests/ai/src/app/app.service.spec.ts
  master/apps/tests/ai/src/app/app.service.ts
  master/apps/tests/ai/src/assets/.gitkeep
  master/apps/tests/ai/src/environments/environment.prod.ts
  master/apps/tests/ai/src/environments/environment.ts
  master/apps/tests/ai/src/main.ts
  master/apps/tests/ai/tsconfig.app.json
  master/apps/tests/ai/tsconfig.json
  master/apps/tests/ai/tsconfig.spec.json
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.ts
  master/libs/ai/processing-strategy/src/lib/ai-processing-strategy.service.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/package.json
Labels: (system) AI

#444 :bug: Fix Library Builds
  master/libs/client/manage-view/src/lib/create-reserve/package.json
  master/libs/client/manage-view/src/lib/devices-mange-view/package.json
  master/libs/client/manage-view/src/lib/gateway-edit-view/package.json
  master/libs/client/manage-view/src/lib/profile-edit/package.json
  master/libs/client/manage-view/src/lib/profile-view/package.json
  master/libs/client/manage-view/src/lib/reserve-detail-view/package.json
  master/libs/client/manage-view/src/lib/reserve-edit/package.json
  master/libs/client/manage-view/src/lib/users-edit/package.json
  master/libs/client/manage-view/src/lib/users-view/package.json
Labels: bug, (system) Front-End, (time) Important

#441 Status link
  master/.env
  master/angular.json
  master/apps/lora-tracking/proxy.conf.json
  master/apps/services/healthchecker/.eslintrc.json
  master/apps/services/healthchecker/jest.config.ts
  master/apps/services/healthchecker/project.json
  master/apps/services/healthchecker/src/app/.gitkeep
  master/apps/services/healthchecker/src/app/app.controller.spec.ts
  master/apps/services/healthchecker/src/app/app.controller.ts
  master/apps/services/healthchecker/src/app/app.module.ts
  master/apps/services/healthchecker/src/app/app.service.spec.ts
  master/apps/services/healthchecker/src/app/app.service.ts
  master/apps/services/healthchecker/src/assets/.gitkeep
  master/apps/services/healthchecker/src/environments/environment.prod.ts
  master/apps/services/healthchecker/src/environments/environment.ts
  master/apps/services/healthchecker/src/main.ts
  master/apps/services/healthchecker/tsconfig.app.json
  master/apps/services/healthchecker/tsconfig.json
  master/apps/services/healthchecker/tsconfig.spec.json
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.controller.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.module.ts
  master/libs/api/device-endpoint/src/lib/api-device-endpoint.service.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.html
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.spec.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/docker/docker-compose.yml
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.spec.ts
  master/libs/service-bus/src/lib/service-bus.module.ts
  master/libs/service-bus/src/lib/service-bus.service.spec.ts
  master/libs/service-bus/src/lib/service-bus.service.ts
  master/package.json
Labels: (system) Front-End, (role) ui engineer

#435 UI 2fa entry
  master/apps/lora-tracking/src/app/app-routing.module.ts
  master/apps/lora-tracking/src/app/app.module.ts
  master/libs/api/login-endpoint/src/api-login.interface.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.controller.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
  master/libs/client/users-view/src/index.ts
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.html
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.scss
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.spec.ts
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.ts
  master/libs/client/users-view/src/lib/client-users-view.module.spec.ts
  master/libs/client/users-view/src/lib/client-users-view.module.ts
  master/libs/client/users-view/src/lib/confirm-twofa/confirm-twofa.component.css
  master/libs/client/users-view/src/lib/confirm-twofa/confirm-twofa.component.html
  master/libs/client/users-view/src/lib/confirm-twofa/confirm-twofa.component.spec.ts
  master/libs/client/users-view/src/lib/confirm-twofa/confirm-twofa.component.ts
  master/libs/client/users-view/src/lib/login-service/login-service.service.spec.ts
  master/libs/client/users-view/src/lib/login-service/login-service.service.ts
  master/libs/client/users-view/src/lib/login/login.component.html
  master/libs/client/users-view/src/lib/login/login.component.scss
  master/libs/client/users-view/src/lib/login/login.component.spec.ts
  master/libs/client/users-view/src/lib/login/login.component.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
  master/package.json
Labels: (system) Front-End, (role) ui engineer, (time) required soon

#452 CSP security Hotfix
  master/apps/lora-tracking/project.json
  master/apps/tests/ai/jest.config.ts
  master/libs/client/gateway-detail/jest.config.ts
  master/libs/client/gateway-detail/tsconfig.json
  master/libs/client/gateway-detail/tsconfig.lib.json
Labels: bug, (system) Front-End, (role) security officer, (time) Important, (system) Hosting

#449 🐛 (bug): Bug checks liam
  master/angular.json
  master/apps/services/ai-processing/.eslintrc.json
  master/apps/services/ai-processing/jest.config.ts
  master/apps/services/ai-processing/project.json
  master/apps/services/ai-processing/src/app/.gitkeep
  master/apps/services/ai-processing/src/app/app.controller.spec.ts
  master/apps/services/ai-processing/src/app/app.controller.ts
  master/apps/services/ai-processing/src/app/app.module.ts
  master/apps/services/ai-processing/src/app/app.service.spec.ts
  master/apps/services/ai-processing/src/app/app.service.ts
  master/apps/services/ai-processing/src/assets/.gitkeep
  master/apps/services/ai-processing/src/environments/environment.prod.ts
  master/apps/services/ai-processing/src/environments/environment.ts
  master/apps/services/ai-processing/src/main.ts
  master/apps/services/ai-processing/tsconfig.app.json
  master/apps/services/ai-processing/tsconfig.json
  master/apps/services/ai-processing/tsconfig.spec.json
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.controller.ts
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.service.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.ts
  master/libs/api/api-testing/src/lib/api-api-testing.service.ts
  master/libs/api/hardware-grpc/src/lib/api-hardware-grpc.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/api/reserve-endpoint/src/lib/api-reserve-endpoint.service.spec.ts
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.spec.ts
  master/libs/client/map-apicaller/src/lib/map-caller/map-caller.service.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.spec.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
  master/libs/database-proxy/src/lib/database-proxy.module.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/location/src/lib/location.service.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/libs/service-bus/src/lib/service-bus.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
  master/libs/thingsboard/thingsboard-tests/src/lib/thingsboard-thingsboard-tests.service.ts
Labels: bug, (system) API

#454 🐛 (chirpstack) interfaces
  master/libs/api/device-endpoint/src/api-device.interface.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.interface.ts
  master/libs/chirpstack/chirpstack-sensor/src/lib/chirpstack-chirpstack-sensor.service.ts
Labels: bug

#458 ✅ (tests): update TB user tests
  master/angular.json
  master/apps/tests/ai/.eslintrc.json
  master/apps/tests/ai/jest.config.ts
  master/apps/tests/ai/project.json
  master/apps/tests/ai/results/hmAvgANNTest.csv
  master/apps/tests/ai/results/hmAvgCOMPTests.csv
  master/apps/tests/ai/results/pfTests.csv
  master/apps/tests/ai/results/pfTestsContinuous.csv
  master/apps/tests/ai/src/app/.gitkeep
  master/apps/tests/ai/src/app/app.controller.spec.ts
  master/apps/tests/ai/src/app/app.controller.ts
  master/apps/tests/ai/src/app/app.module.ts
  master/apps/tests/ai/src/app/app.service.spec.ts
  master/apps/tests/ai/src/app/app.service.ts
  master/apps/tests/ai/src/assets/.gitkeep
  master/apps/tests/ai/src/environments/environment.prod.ts
  master/apps/tests/ai/src/environments/environment.ts
  master/apps/tests/ai/src/main.ts
  master/apps/tests/ai/tsconfig.app.json
  master/apps/tests/ai/tsconfig.json
  master/apps/tests/ai/tsconfig.spec.json
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/docker/docker-compose.yml
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.spec.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.spec.ts
Labels: (role) tester

#456 Login messages and enter trigger
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.scss
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/shared-ui/components-ui/src/index.ts
  master/libs/client/shared-ui/components-ui/src/lib/client-shared-ui-components-ui.module.ts
  master/libs/client/shared-ui/components-ui/src/lib/display-message/display-message.component.html
  master/libs/client/shared-ui/components-ui/src/lib/display-message/display-message.component.scss
  master/libs/client/shared-ui/components-ui/src/lib/display-message/display-message.component.spec.ts
  master/libs/client/shared-ui/components-ui/src/lib/display-message/display-message.component.ts
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.html
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.scss
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.spec.ts
  master/libs/client/users-view/src/lib/authentication-view/authentication-view.component.ts
  master/libs/client/users-view/src/lib/login/login.component.html
  master/libs/client/users-view/src/lib/login/login.component.scss
  master/libs/client/users-view/src/lib/login/login.component.ts
Labels: (role) ui engineer

#455 UI adjust layout
  master/apps/lora-tracking/src/index.html
  master/apps/lora-tracking/src/styles.scss
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.scss
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/client-manage-view-src-lib-create-reserve.module.ts
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.html
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.scss
  master/libs/client/manage-view/src/lib/create-reserve/src/lib/reserve-create/reserve-create.component.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.html
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.scss
  master/libs/client/manage-view/src/lib/profile-view/src/lib/profiles-view/profiles-view.component.html
  master/libs/client/manage-view/src/lib/profile-view/src/lib/profiles-view/profiles-view.component.scss
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/client-manage-view-src-lib-reserve-detail-view.module.ts
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.html
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.scss
  master/libs/client/manage-view/src/lib/reserve-detail-view/src/lib/reserve-detail/reserve-detail.component.ts
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/client-manage-view-src-lib-reserve-edit.module.ts
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.html
  master/libs/client/manage-view/src/lib/reserve-edit/src/lib/reserve-edit/reserve-edit.component.scss
  master/libs/client/manage-view/src/lib/users-edit/src/lib/user-edit/user-edit.component.scss
  master/libs/client/reserve-view/src/index.ts
  master/libs/client/reserve-view/src/lib/client-reserve-view.module.ts
  master/libs/client/reserve-view/src/lib/date-time-selection/date-time-selection.component.html
  master/libs/client/reserve-view/src/lib/date-time-selection/date-time-selection.component.scss
  master/libs/client/reserve-view/src/lib/date-time-selection/date-time-selection.component.spec.ts
  master/libs/client/reserve-view/src/lib/date-time-selection/date-time-selection.component.ts
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.html
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.scss
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.ts
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.html
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.scss
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.spec.ts
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.scss
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.html
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.scss
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
Labels: (system) Front-End, (role) ui engineer, (time) Important

#463 Ai test update
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.spec.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.spec.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.ts
Labels: (role) tester, (system) AI

#465 Ai cleaning
  master/angular.json
  master/libs/ai/mock-data-trainer/.eslintrc.json
  master/libs/ai/mock-data-trainer/README.md
  master/libs/ai/mock-data-trainer/jest.config.ts
  master/libs/ai/mock-data-trainer/package.json
  master/libs/ai/mock-data-trainer/project.json
  master/libs/ai/mock-data-trainer/src/index.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.module.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.service.spec.ts
  master/libs/ai/mock-data-trainer/src/lib/ai-mock-data-trainer.service.ts
  master/libs/ai/mock-data-trainer/tsconfig.json
  master/libs/ai/mock-data-trainer/tsconfig.lib.json
  master/libs/ai/mock-data-trainer/tsconfig.spec.json
  master/libs/ai/mock-generator/averaging-data-generator/.eslintrc.json
  master/libs/ai/mock-generator/averaging-data-generator/README.md
  master/libs/ai/mock-generator/averaging-data-generator/jest.config.ts
  master/libs/ai/mock-generator/averaging-data-generator/package.json
  master/libs/ai/mock-generator/averaging-data-generator/project.json
  master/libs/ai/mock-generator/averaging-data-generator/src/index.ts
  master/libs/ai/mock-generator/averaging-data-generator/src/lib/ai-mock-generator-averaging-data-generator.module.ts
  master/libs/ai/mock-generator/averaging-data-generator/src/lib/ai-mock-generator-averaging-data-generator.service.spec.ts
  master/libs/ai/mock-generator/averaging-data-generator/src/lib/ai-mock-generator-averaging-data-generator.service.ts
  master/libs/ai/mock-generator/averaging-data-generator/tsconfig.json
  master/libs/ai/mock-generator/averaging-data-generator/tsconfig.lib.json
  master/libs/ai/mock-generator/averaging-data-generator/tsconfig.spec.json
  master/libs/ai/mock-generator/triangulation/.eslintrc.json
  master/libs/ai/mock-generator/triangulation/README.md
  master/libs/ai/mock-generator/triangulation/jest.config.ts
  master/libs/ai/mock-generator/triangulation/package.json
  master/libs/ai/mock-generator/triangulation/project.json
  master/libs/ai/mock-generator/triangulation/src/index.ts
  master/libs/ai/mock-generator/triangulation/src/lib/ai-mock-generator-triangulation.module.ts
  master/libs/ai/mock-generator/triangulation/src/lib/ai-mock-generator-triangulation.service.spec.ts
  master/libs/ai/mock-generator/triangulation/src/lib/ai-mock-generator-triangulation.service.ts
  master/libs/ai/mock-generator/triangulation/tsconfig.json
  master/libs/ai/mock-generator/triangulation/tsconfig.lib.json
  master/libs/ai/mock-generator/triangulation/tsconfig.spec.json
Labels: (role) backend engineer, (system) AI

#467 Map layout not filling page
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.scss
  master/libs/client/users-view/src/lib/confirm-twofa/confirm-twofa.component.css
  master/libs/client/users-view/src/lib/confirm-twofa/confirm-twofa.component.html
Labels: (system) Front-End, (role) ui engineer

#471 Processing bus tests
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.spec.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
Labels: (role) tester, (bus) processing

#459 Adir/debug
  master/apps/lora-tracking/src/assets/cell_tower.png
  master/apps/lora-tracking/src/styles.scss
  master/libs/api/login-endpoint/src/api-login.interface.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.module.ts
  master/libs/api/login-endpoint/src/lib/api-login-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.spec.ts
  master/libs/api/map-endpoint/src/lib/api-map-endpoint.service.ts
  master/libs/api/map-endpoint/src/lib/map-api.interface.ts
  master/libs/api/user-endpoint/src/api-user.interface.ts
  master/libs/api/user-endpoint/src/lib/api-user-endpoint.controller.ts
  master/libs/client/device-add-view/src/lib/device-add/device-add.component.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.spec.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.html
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.spec.ts
  master/libs/client/manage-view/src/lib/devices-mange-view/src/lib/devices-list/devices-list.component.ts
  master/libs/client/manage-view/src/lib/manage-page/manage-page.component.html
  master/libs/client/manage-view/src/lib/manage-page/manage-page.component.ts
  master/libs/client/manage-view/src/lib/profile-edit/src/lib/profiles-edit/profiles-edit.component.ts
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.html
  master/libs/client/manage-view/src/lib/status-view/src/lib/status-page/status-page.component.ts
  master/libs/client/manage-view/src/lib/users-edit/src/lib/user-edit/user-edit.component.ts
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.html
  master/libs/client/reserve-view/src/lib/device-list-item/device-list-item.component.ts
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.html
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.scss
  master/libs/client/reserve-view/src/lib/map-panel/map-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.spec.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.html
  master/libs/client/reserve-view/src/lib/reserve-view/reserve-view.component.ts
  master/libs/client/shared-services/src/lib/device-notifier/device-notifier.service.ts
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.html
  master/libs/client/shared-ui/components-ui/src/lib/header-ui/header-ui.component.ts
  master/libs/client/users-management-view/src/lib/reserve-users-view/reserve-users-view.component.ts
  master/libs/client/users-view/src/lib/login/login.component.ts
  master/libs/database-proxy/src/lib/database-proxy.service.ts
  master/libs/message-queue/src/lib/message-queue.service.ts
  master/libs/middleware/session-management/src/lib/middleware-session-management.service.ts
  master/libs/shared-interfaces/src/lib/map-interfaces.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.spec.ts
  master/libs/thingsboard/thingsboard-user/src/lib/thingsboard-thingsboard-user.service.ts
Labels: (system) API, (system) Front-End, (role) api engineer, map

#473 🎨 Small fixes
  master/apps/services/healthchecker/src/app/app.service.ts
  master/libs/client/leaflet-library/src/lib/reserve-map/reserve-map.component.ts
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.html
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.scss
  master/libs/client/reserve-view/src/lib/reserve-panel/reserve-panel.component.ts
Labels: (system) Front-End, (role) ui engineer, map

#474 Adir/debug
  master/apps/services/healthchecker/src/app/app.service.ts
  master/libs/client/gateway-detail/src/lib/gateway-view-detail/gateway-view-detail.component.html
  master/libs/client/reserve-view/src/lib/gateway-list-item/gateway-list-item.component.html
  master/libs/client/sensor-details/src/lib/sensor-view-detail/sensor-view-detail.component.html
Labels: (system) Front-End, map

#478 Sensor deployment
  master/libs/ai/ai-processing/src/lib/ai-ai-processing.service.ts
  master/libs/ai/heatmap-average/src/lib/ai-heatmap-average.service.ts
  master/libs/ai/particle-filter/src/lib/ai-particle-filter.service.ts
  master/libs/message-queue/src/lib/message-queue.service.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.ts
  master/libs/thingsboard/thingsboard-client/src/lib/thingsboard-thingsboard-client.service.spec.ts
  master/libs/thingsboard/thingsboard-telemetry/src/lib/thingsboard-thingsboard-telemetry.service.ts
Labels: bug

#476 ✅ (testing): Add db proxy tests
  master/libs/database-proxy/src/lib/database-proxy.service.spec.ts
  master/libs/processing-api/processing-bus/src/lib/processing-api-processing-bus.service.spec.ts
Labels: (system) Database, (role) tester
